*{
    margin: 0px;
    padding: 0px;
}

a:hover{
    cursor: pointer;
}

:root{
    --white: #FFFFFF;
    --black: #000000;
    --beige-weak: #faebd7;
    --beige-medium: #ffe4c4; 
    --beige-strong:#c3b091;
    --brown: #af804f;
}

/*Layout*/
.header{
    box-shadow: 0px 4px 8px 0px var(--beige-weak);
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 2;
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 10px;
    padding: 5px 10px;
}

.header li{
    list-style: none;
    margin-top: 10px;
    position: relative;
}

.footer{
    padding-top: 14px;
    text-align: center;
}


/*Fonts*/
.header , .footer{
    font-size: 18px;
    font-weight: bold;
}


/* Links */
a{
    padding: 10px;
    border: 3px var(--beige-strong) solid;
}

a:hover{
    transition: 0.4s ease-in-out;
    color: var(--white);
    background-color: var(--beige-strong);
}

/*Colours*/
.header, .footer{
    background-color: var(--beige-medium);
}

.header li, .footer li{
    color: var(--black);
}

.header li:hover, .footerli:hover{
    transition: all 0.3s ease-in-out;
    color:var(--brown);
    cursor: pointer;
}

#active{
    color:var(--brown);
}

/*Font*/

h1{
    font-size: 60px;
    font-weight: bolder;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

h3{
    font-size: 20px;
    font-weight:bold;
}

li{
    font-size: 18px;
    font-weight: lighter;
}
a{
    font-size: 15px;
    font-weight: lighter;
}