@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Space+Mono:wght@700&display=swap');
/*
font-family: 'Space Mono', monospace; 
font-weight: 700;

font-family: 'Raleway', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
    --black: #1B1C1E;
    --white: #F2F4F5;
    --grey:  #2B2B2b;
}

::selection{
    color: var(--white);
    background-color: var(--black);
}

body{
    background-color: var(--white);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-areas: "navBarContainer landingPageContainer";
}

.navBarContainer{
    grid-area: navBarContainer;
    grid-column: 1 / 2;
    background-color: var(--black);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBarContainer a{
    padding: 25px;
    margin: 10px;
    color: var(--white);
    font-size: 1.5rem;
}


.landingPageContainer{
    background-color: var(--white);
    grid-area: landingPageContainer;
    grid-column: 2 / 3;
    padding: 0px 20px;
}

.headerTitle{
    font-family: 'Space Mono', monospace; 
    font-weight: 700;
}

/* Home Style */
.homeContent{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.homeIntro h1{
    font-family:'Space Mono', monospace;
    font-weight: 700;
    margin-bottom: 20px;
}

.typewriterContainer{
    position: relative;
}

.typewriter::before , .typewriter::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

.typewriter::before{
    background-color: var(--white);
    animation: typewriter 2.5s steps(33) 1s forwards;
}

.typewriter::after{
    background: red;
    width: 1rem;
    animation: typewriter 2.5s steps(33) 1s forwards, blink 1s steps(33) infinite;
}
  
@keyframes typewriter {
  0%{
    left: 0%;
  }
  100%{
    left: 100%;
  }
}

@keyframes blink {
  0%{
    background-color: transparent;
  }
  100%{
    background-color: var(--black);
  }
}

.buttonSection{
    margin-top: 10px;
}

.buttonSection a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 200px;
    font-family: 'Space Mono', monospace; 
    font-weight: 700;
    border: 2px solid var(--black);
    margin-right: 30px;
    color: var(--black);
    background-color: var(--white);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.buttonSection a::after{
    z-index: -1;
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: var(--black);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.buttonSection a:hover{
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    color: var(--white);
    z-index: 2;
}
  
.buttonSection a:hover::after{
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
}

.homeImage img{
    width: 400px;
    height: auto;
}

/* About Styles */

.aboutContent{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow-wrap: break-word;
    padding: 100px 50px;
    border: dotted 3px var(--black);
    position: relative;
}

.aboutIntro::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: -25px;
    background-color: var(--black);
    animation: rotate 5s infinite;
}

.aboutIntro::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -15px;
    right: -15px;
    background-color: var(--black);
    animation: rotate 5s infinite;

}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    20%{
        transform: rotate(90deg);
    }

    40%{
        transform: rotate(180deg);
    }

    60%{
        transform: rotate(0deg);
    }

    80%{
        transform: rotate(360deg);
    }
    
}


.aboutContent h1, .aboutContent h3{
    margin: 20px 0px;
}

/* Services Styles */
.servicesContent{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.servicesContainer h1{
    margin: 50px 0px;
}

.servicesCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.serviceCard{
    height: 300px;
    width: 400px;
    border: 8px double var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    transition: all 0.25s linear;
}

.serviceCard:hover{
    cursor: pointer;
    border: 8px double var(--black);
    background-color: var(--white);
    color: var(--black);
    transition: all 0.25s linear;
}

.serviceCard i{
    font-size: 150px;
}

/* Work Styles */
.experienceContent{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.experienceButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
}

/*
.workContainer, .intershipContainer{
    display: none;
}
*/

.experienceButtonContainer button{
    width: 200px;
    height: 45px;
    margin-right: 20px;
    border: 4px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    font-size: 18px;
    font-family: 'Space Mono', monospace; 
    font-weight: 700;
    cursor: pointer;
}


.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    margin: 20px 0px;
    border-bottom: 6px solid var(--black);
}

/* Education Styles */
.educationContent h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.educationCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 100px;
    margin: 20px 0px;
    border-bottom: 6px solid var(--black);
    font-size: 18px;
}


/* Portfolio Styles */

.portfolioBody{
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

.portfolioContent{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.projectCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in;
    transform: scale(0.9);
    background-color: var(--grey);
    color: var(--white);
}

.projectCard:hover{
    transition: all 0.2s linear;
    transform: scale(1);


}

#portfolioTitle{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: var(--black);
    transform: scale(1);


}   

#portfolioTitle h1{
    color: var(--white);
    font-family: 'Space Mono', monospace; 
    font-weight: 700;
}

#cafeSamosexProject:hover{
    background-color: black;
    color: yellow;

}

#sweetToothProject:hover{
    background-color: lightcoral;
    color: lightskyblue;
}

#rikhilSharmaProject:hover{
    background-color: black;
    color: red;  
}

#anotherOnePoject:hover{
    background-color: green;
    color: orange;
}

#anotherTwoPoject:hover{
    background-color: lightgoldenrodyellow;
    color: orangered;
}

#anotherThreePoject:hover{
    background-color: tan;
    color: khaki;
}

#anotherFourPoject:hover{
    background-color: teal;
    color: blanchedalmond;
}

#anotherFivePoject:hover{
    background-color: blueviolet;
    color: darkmagenta;
}

#anotherSixPoject:hover{
    background-color: lavender;
    color: darkcyan;
}

#anotherSevenPoject:hover{
    background-color: sandybrown;
    color: khaki;
}

#anotherEightPoject:hover{
    background-color: olive;
    color: brown;
}

#anotherNinePoject:hover{
    background-color: palegreen;
    color: darkgreen;
}


/* Contact Styles */

#contactBody{
    background-color: var(--black);
}

.contactPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
}

.contactContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactForm{
    display: flex;
    flex-direction: column;
}

#contactForm input{
    background-color: var(--grey);
    width: 665px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border: 0px;
}

#contactForm input:focus{
    color: white;
    outline-color: var(--white);
}


#contactForm input:focus::placeholder{
    color: var(--white)
}

#contactEmail, #contactNumber{
    width: 320px !important;
}

#contactMessage{
    height: 150px !important;
}

.contactContent button{
    width: 100px;
    height: 50px;
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    cursor: pointer;
}

/* JS Effects */
.aboutContent{
    transform: scale(0.4);
    transition: all 1s ease-out;
}


.aboutMeExpand{
    transform: scale(1);
    transition: all 1s ease-out;
}


.servicesContainer h1{
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s ease-out;
}

.servicesCards{
    opacity: 0 ;
    transform: translateY(15%);
    transition: all 1s ease-out;
}

.servicesEffectActive{
    opacity: 1 !important;
    transform: translateY(0%) !important;
    transition: all 1s ease-out;
}
