/* General Settings */
*{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: 'Jost', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Jost&display=swap');

h1{
    font-size: 45px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

a{
    font-size: 16px;
}

:root{
    --black: #111111;
    --grey: #2F2F2F;
    --white: #F6F6F6;
    --gold: #FFCB74; 
}

::selection{
    background-color: var(--gold) !important;
    color: var(--black);
}

.pageHeaderClass{
    position: relative;
}

.pageHeaderClass::after{
    content:"";
    position: absolute;
    width: 60% ;
    height: 5px;
    bottom: -30%;
    left: 5%;
    border-radius: 2px 20px;
    background-color: var(--gold);
}


/* Header Styles */

.navBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    height: 10vh;
    z-index: 10;
}

#logo{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    padding: 0px 20px;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
}

.navBar li{
    list-style: none;
    padding: 10px 20px;
}

.navBar a{
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.navBar a::before{
    content: "";
    position: absolute;
    bottom: -20%;
    height: 1px;
    width: 100%;
    background-color: var(--gold);
    transform: scaleX(0);
    transform-origin: bottom;
    transition: all 0.3s ease-out;
}

.navBar a:hover::before{
    transform: scaleX(1);
    transform-origin: bottom;
    transition: all 0.3s ease-out;
}

.dropDownMenuHeader{
    position: relative;
}

.dropDownMenu{
    z-index: 10;
    position: relative;
    transition: all 0.3s 0.5s ease-out;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: black;
    border-top: 2px solid var(--gold);
}

.dropDownMenuHeader:hover  .dropDownMenu{
    transition: all 0.3s 0.5s ease-out;
    transform: scaleY(1);
    opacity: 1;
}

/* Footer Styles */
.footer{
    background-color: var(--grey);
    min-height: 70vh;
}

.footerInformationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 20px;
}

.footerInfoSec{
    margin: 0px 50px;
}

.footerSecTitle{
    color: var(--gold)
}

.footerInfoSec h4, .footerInfoSec h5, .footerInfoSec li, .footerInfoSec a{
    padding: 10px 0px;
    list-style: none;
    text-decoration: none;
}

.footerInfoSec a:hover{
    transition: color 0.3s ease-out;
    color: var(--gold);
    cursor: pointer;
}

.socialsContainer{
    padding-top: 5px;
}

.fa-brands{
    color: var(--gold);
    transition: all 0.3s ease-out;
    background-color: var(--grey);
    font-size: 40px;
    cursor: pointer;
    padding-left: 7px;
}

.fa-brands:hover{
    transition: all 0.3s ease-out;
    color: var(--white);
}

.fa-copyright{
    margin: 10px;
}

.footerCopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


/* Home Styles */

#homeLandingPageContainer{
    position: relative; 
}

#homeLandingPageContainer::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(images/homeBg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    
}

#homeIntroContainer{
    position: relative;
    height: 50vh;
    padding: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#homeIntro h1, #homeIntro h2{
    padding: 10px 0px ;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.5), 
    0px -4px 10px rgba(0,0,0,0.5);
}

.accentColour{
    color: var(--gold);
}

#homeBtn{
    text-decoration: none;
    color: var(--gold);
    background-color: transparent;
    border: 5px solid var(--gold);
    border-radius: 25px;
    padding: 15px 20px;
    transition: all 0.3s ease-in;
    font-size: 16px;
    font-weight: 800;
}

#homeBtn:hover{
    color: var(--white);
    transition: all 0.3s ease-in;
    background-color: var(--gold);
}


/*About Us Styles */
#aboutUsLandingPageContainer{
    background-color: var(--black);
    min-height: 100vh;
}

.introContainer{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative; 
}

.introContainer::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(images/introImg.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
}

.introContainer h1, .introContainer h2{
    position: relative;
    margin-top: 20px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.5), 
    0px -4px 10px rgba(0,0,0,0.5);
}

.aboutUsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.aboutUsDetails{
    line-height: 50px;
    opacity: 0;
    transition: all 1.5s ease-in;
    transform: translateX(-100px);
}

.aboutUsImg{
    opacity: 0;
    transition: all 1.5s ease-in;
    transform: translateX(100px);
}

.aboutUsFadeIn{
    padding: 1px;
}

.aboutUsAppear{
    opacity: 1 !important;
    transition: all 1s ease-in;
    transform: translateX(0px) !important;
}

.aboutUsImg{
    margin: 20px;
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(images/aboutUsImg.jpg);
    border: 1px solid var(--gold);
}

.galleryImageContainer{
    padding: 150px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.galleryImageContainer img{
    height: 300px;
    width: 300px;
    object-fit: contain;
    transform: scale(0.9);
    animation: gallery 20s 1s infinite;
    margin: 50px;
    border: 2px solid var(--gold);
}

@keyframes gallery {
    0%{
        transform: translateX(0px);
    }
    10%{
        transform: translateX(-400px);
    }
    20%{
        transform: translateX(-800px);
    }
    30%{
        transform: translateX(-1200px);
    }
    40%{
        transform: translateX(-1600px);
    }
    50%{
        transform: translateX(-2000px);
    }
    60%{
        transform: translateX(-2400px);
    }
    70%{
        transform: translateX(-2800px);
    }
    80%{
        transform: translateX(-3200px);
    }
    90%{
        transform: translateX(-3600px);
    }
    100%{
        transform: translateX(0px);
    }
}


/* Menu Styles */

#menuLandingPageContainer{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    overflow-x: hidden;
}

#menuCategory1{
    /*margin-right: 5px;*/
    background-image: url(images/eatImg.jpg);
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#menuCategory2{
    /*margin: 0px 5px;*/
    background-image: url(images/drinkImg.jpg);
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-left: var(--black) 5px solid;
    border-right: var(--black) 5px solid;

}

#menuCategory3{
    /*margin-left: 5px;*/
    background-image: url(images/shishaImg.jpg);
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.menuCategory h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}

.menuCategory:hover{
    transition: width 0.8s ease-out, font-size 0.8s ease-out;
    width: 120vh;
    cursor: pointer;
    font-size: 20px;
}


.menuCategory{
    transition: all 0.5s linear;
    width: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.menuCatElement{
    opacity: 0;
    transform: translateX(-15vh);
}

.menuAppear1{
    opacity: 1;
    transform: translateX(0);
    transition-delay: 2s;
    transition: opacity 2s ease-in, transform 2s ease-in ;
}

.menuAppear2{
    opacity: 1;
    transform: translateX(0);
    transition-delay: 2s;
    transition: opacity 2.5s ease-in, transform 2.5s ease-in ;
}

.menuAppear3{
    opacity: 1;
    transition-delay: 2s;
    transform: translateX(0);
    transition: opacity 3s ease-in, transform 3s ease-in ;
}


/* Eat Styles */

#eatLandingPageContainer{
    background-color: var(--black);
    padding: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.itemContainer{
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 400px;
    width: 250px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s linear;
    /* add delay, ask advice transition-delay: 0.5s; */
}

.detailsContainer h3, .detailsContainer h5{
    color: black;
}

.detailsContainer:hover{
    transition: all 0.5s linear;
    border-radius: 20px;
    height: 100%;
}

.arrow{
    position: absolute;
    padding: 5px 0px ;
    top: 0;
    left: 50%;
    transform: rotate(-180deg);
    transition: all 0.5s linear;
    color: var(--black);
    font-size: 20px;
}

.name{
    position: absolute;
    top: 40px;
    transition: all 0.55s linear;
    /*transform: translateY(110px); */
}

.detailsContainer:hover .arrow{
    transition: all 0.5s linear;
    transform: rotate(0deg);
}

.details{
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.detailsContainer:hover .details{
    transition: visibility 1s, opacity 1s ease-in;
    visibility: visible;
    opacity: 1;
}
   

#foodItem1{
    background-image: url(images/foodItem12.jpg); 
}

#foodItem2{
    background-image: url(images/foodItem13.jpg); 
}

#foodItem3{
    background-image: url(images/foodItem14.jpg); 
}

#foodItem4{
    background-image: url(images/foodItem4.jpg); 
}

#foodItem5{
    background-image: url(images/foodItem15.jpg); 
}

#foodItem6{
    background-image: url(images/foodItem17.jpg); 
}

#foodItem7{
    background-image: url(images/foodItem20.jpg); 
}

#foodItem8{
    background-image: url(images/foodItem19.jpg); 
}

#foodItem9{
    background-image: url(images/foodItem9.jpg); 
}

#foodItem10{
    background-image: url(images/foodItem10.jpg); 
}

#drinkItem1{
    background-image: url(images/drinkItem1.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

#drinkItem2{
    background-image: url(images/drinkItem2.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem3{
    background-image: url(images/drinkItem3.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem4{
    background-image: url(images/drinkItem4.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem5{
    background-image: url(images/drinkItem5.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem6{
    background-image: url(images/drinkItem6.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem7{
    background-image: url(images/drinkItem7.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem8{
    background-image: url(images/drinkItem8.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem9{
    background-image: url(images/drinkItem9.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#drinkItem10{
    background-image: url(images/drinkItem10.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem1{
    background-image: url(images/shishaItem1.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

#shishaItem2{
    background-image: url(images/shishaItem2.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem3{
    background-image: url(images/shishaItem3.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem4{
    background-image: url(images/shishaItem4.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem5{
    background-image: url(images/shishaItem5.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem6{
    background-image: url(images/shishaItem6.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem7{
    background-image: url(images/shishaItem7.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem8{
    background-image: url(images/shishaItem8.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    
}

#shishaItem9{
    background-image: url(images/shishaItem9.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: var(--white);
    
}

#shishaItem10{
    background-image: url(images/shishaItem10.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: var(--white);
    
}


/* Reservations Styles */

.contactLandingPage{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
} 

.reserveTableContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    width: 30%;
}

.formDetails{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formDetails input{
    width: 175px;
    padding: 5px 10px;
    display: inline-block;
}

.formDetails input:focus{
    outline-width: 5px;
    outline-color: var(--gold);

}

.formDetails i{
    color: var(--gold);
    padding: 5px 10px 0px 0px;
    display: inline-block;
    width: 25px;

}

#formInputName, #formInputEmail, #formInputNoPpl, #formInputRequests{
    display: inline-block;
}


#formBtnContainer{
    margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#formBtnContainer button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--gold);
    color: var(--black);
}

.contactInfoContainer{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.contactInfoContainer .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    width: max-content;
    height: 60%;
}

.contactInfoContainer iframe{
    height: 60%;
}

.contactInfo h3{
    text-decoration: underline;
    text-decoration-color: var(--gold);
}














/* Responseive Web Design 

*/

/* Header Responsive */
@media screen and (max-width: 520px){
    .headerContainer{
        justify-content: center;
        align-items: center;
    }

    .headerNavBar a{
        font-size: 12px;
    }
    #logo{
        display: none;
    }
}
@media screen and (max-width: 340px){
    .headerNavBar a{
        font-size: 11px;
    }
    #logo{
        display: none;
    }
}

/* Footer Responsive */
@media screen and (max-width: 845px){
    .footerInformationContainer{
        flex-direction: column;
    }
    .footerInfoSec{
        margin: 50px;
    }
}


/* Font Responsive */
@media screen and (max-width: 1245px){
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
}
@media screen and (max-width: 1075px){
    h2{
        font-size: 16px;
    }
    h3{
        line-height: 30px;
        font-size: 12px;
    }

}

@media screen and (max-width: 465px){
    h1{
        font-size: 30px;
    }
    h2{
        line-height: 20px;
        font-size: 12px;
    }
}

/* Home Responsive */

@media screen and (max-width: 845px){
    #homeIntroContainer{
        flex-direction: column;
    }

    #homeIntro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 665px){
    #homeIntro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #homeIntro h1{
        font-size: 30px;
    }

    #homeIntro h2{
        font-size: 16px;
    }

    #homeBtn{
        padding: 10px 15px ;
        font-size: 14px;
    }
}

/* About Us Respinsive */

@media screen and (max-width: 1245px){
    .ourTeamContainer{
        display: flex;
        flex-direction: column;

    }
}

@media screen and (max-width: 1000px){
    .aboutUsContainer{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 500px){

    .aboutUsImg{
        width: 250px;
        height: 300px;
        background-position: center;
    }

    .teamMemberContainer{
        height: 300px;
    }

    .teamMemberContainer img{
        width: 250px ;
        height: auto;
    }
}

/* Menu Responsive */
@media screen and (max-width: 1000px){
    .menuCategory h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 660px){
    #menuLandingPageContainer{
        flex-direction: column;
    }
}

/* Eat Drink Shisha Responsive */
@media screen and (max-width: 1000px){
    #eatLandingPageContainer{
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}


/* Reservations Responsive */
@media screen and (max-width: 1000px){
    .formDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 660px){
    #reservationFormContainer{
        padding: 50px;
    }
}

@media screen and (max-width: 465px){
    #reservationFormContainer{
        padding: 10px;
    }
}